@model idme_dotnet_sample_app.Models.UserClaims

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<table class="table">
    <thead>
        <tr>
            <th>Claim Type</th>
            <th>Claim Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Given Name</td>
            <td>@Model.GivenName</td>
        </tr>
        <tr>
            <td>Surname</td>
            <td>@Model.Surname</td>
        </tr>
        <tr>
            <td>Social Security Number</td>
            <td>@Model.SocialSecurity</td>
        </tr>
        <tr>
            <td>Identity Document Number</td>
            <td>@Model.IdentityDocumentNumber</td>
        </tr>
        <tr>
            <td>Mobile Phone</td>
            <td>@Model.MobilePhone</td>
        </tr>
        <tr>
            <td>Postal Code</td>
            <td>@Model.PostalCode</td>
        </tr>
        <tr>
            <td>State or Province</td>
            <td>@Model.StateOrProvince</td>
        </tr>
        <tr>
            <td>UUID</td>
            <td>@Model.Uuid</td>
        </tr>
    </tbody>
</table>